{% extends 'base.html.twig' %}

{% block title %}New ArtBoard{% endblock %}

{% block body %}
    <h1>Create new ArtBoard</h1>

    {{ include('art_board/_form.html.twig') }}

    <a href="{{ path('app_art_board_index') }}">back to list</a>
{% endblock %}
