{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block main %}
    <h1>Create new Paste</h1>

    {{ include('Album/_form.html.twig') }}

    <a href="{{ path('album') }}">back to Albums</a>
{% endblock %}
